<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="sidebar">
    <div class="logo">Hotel Admin</div>
    <ul class="nav-menu">
        <li><a href="../dashboard/" target="main">Dashboard</a></li>
        <li><a href="../rooms/" target="main">Quartos</a></li>
        <li><a href="../services/" target="main">Serviços</a></li>
        <li><a href="../photos/" target="main">Fotos</a></li>
        <li><a href="../bookings/" target="main">Reservas</a></li>
        <li><a href="../reset/" target="main">Resetar</a></li>
    </ul>
</nav>


</body>
</html>